.App {
  text-align: center;
}

.App-logo {
  height: 100px;
  border: 5px solid white;
}

.App-header {
  background-color: #FF8873;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
